.image {
  min-height: calc(100vh - 130px);
  padding: 20px;
  text-align: center;
  background-color: lightgray;
}


// picture newのcss
.caution {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: rgb(132, 114, 175);
}