.postform {
  height: calc(100vh - 130px);
  text-align: center;
  padding: 20px;
  background-color: lightgray;
  h3 {
    
    margin: 0px 150px 30px 150px;
    font-size: 30px;
    text-align: center;
    color: rgb(132, 114, 175);
    border: solid;
    border-radius: 50px;
  }
}