.search-form {
  color: white;
  text-align: center;
  padding-top: 20px;
  background-color: #777777;
  height: 60px;
  
}

.contents_row {
  background-color: lightgray;
  min-height: calc(100vh - 170px);
  img {
    height: 250px;
    width: 250px;
    margin: 10px;
  }
}