<div class="contents row">
  <% @pictures.each do |picture| %>
    <div class="content_post" style="background-image: url(<%= picture.image %>);">
      <p><%= picture.text %></p>
      <span class="name">
        <%= picture.name %>
      </span>
    </div>
  <% end %>
</div>