<header class="header">
  <div class="header__1">
    <h1 class="grid-6"><a href="/">フリピク</a></h1>
  </div>
  <div class="header__2">
    <form action="cgi-bin/example.cgi" method="post" class="serch">
      <p>画像検索</p>
      <input type="search" name="search" placeholder="キーワードを入力">
      <input type="submit" name="submit" value="検索">
    </form>
  </div>
  <div class="header__3">
    <%= link_to new_user_session_path do %>
      <p>Login</p>
    <% end %>
  </div>
</header>
